body {
    background-image: url("1.jpg")
}

h1 {
    color: navy;
    margin-left: 20px;
}
h3{
    color: red;

}
td{
    font-style: italic;
    border: 1px solid #000000;
   
}
img {
    border: 10px solid transparent;
    padding: 5px;
    border-image: url(me.jpg) 50 round;
}
